/* 
    Created on : 25 nov 2020, 16:24:40
    Author     : joker
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version bla bla bla
*/

/*
* Font created using https://www.cssfontstack.com/
*/

body {
   padding-top: 56px;
}

h1 { 
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 43px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 47.3px;
}

h2, h3 { 
     font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 24px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400; 
     line-height: 26.4px;
} 

h4, h5 { 
     font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 20px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400; 
     line-height: 23px;
} 

p { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 21.4286px; 
} 
blockquote { 
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-variant: normal;
    font-weight: 100;
    line-height: 31.4286px; 
} 

pre { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
      font-size: 13px; font-style: normal;
      font-variant: normal; font-weight: 400;
      line-height: 18.5714px; 
}

@-webkit-keyframes check {
    0% {height: 0;width: 0;}
    25% {height: 0;width: 8px;}
    50% {height: 18px;width: 8px;}
}
        
@keyframes check {
    0% {height: 0;width: 0;}
    25% {height: 0;width: 8px;}
    50% {height: 18px;width: 8px;}
}

.checkbox{
    background-color:#fff;
    display:inline-block;
    height:26px;
    margin:0 .25em;
    width:26px;
    border-radius:4px;
    border:1px solid #ccc;
    float:left
}

.checkbox-disabled{
    background-color:#a8a8a8;
    display:inline-block;
    height:26px;
    margin:0 .25em;
    width:26px;
    border-radius:4px;
    border:1px solid #a8a8a8;
    float:left
}

.checkbox span{
    display:block;
    height:26px;
    position:relative;
    width:26px;
    padding:0
}

.checkbox-disabled span{
    display:block;
    height:26px;
    position:relative;
    width:26px;
    padding:0;
    border-color:#a8a8a8
}

.checkbox span:after{
    -ms-transform:scaleX(-1) rotate(135deg);
    -webkit-transform:scaleX(-1) rotate(135deg);
    transform:scaleX(-1) rotate(135deg);
    -ms-transform-origin:left top;
    -webkit-transform-origin:left top;
    transform-origin:left top;
    border-right:4px solid #fff;
    border-top:4px solid #fff;
    content:'';
    display:block;
    height:18px;
    left:3px;
    position:absolute;
    top:15px;
    width:8px
}

.checkbox-disabled span:after{
    -ms-transform:scaleX(-1) rotate(135deg);
    -webkit-transform:scaleX(-1) rotate(135deg);
    transform:scaleX(-1) rotate(135deg);
    -ms-transform-origin:left top;
    -webkit-transform-origin:left top;
    transform-origin:left top;
    border-right:4px solid #a8a8a8;
    border-top:4px solid #a8a8a8;
    content:'';
    display:block;
    height:18px;
    left:3px;
    position:absolute;
    top:15px;
    width:8px
}

.checkbox span:hover:after{
    border-color:#999
}

.checkbox-disabled span:hover:after{
    border-color:#a8a8a8
}

.checkbox input{
    display:none
}

.checkbox-disabled input{
    display:none
}

.checkbox input:checked + span:after{
    -webkit-animation:check .8s;
    animation:check .8s;
    border-color:#555
}

.checkbox input:checked + .default:after{
    border-color:#444
}

.checkbox input:checked + .primary:after{
    border-color:#2196F3
}

.checkbox input:checked + .success:after{
    border-color:#8bc34a
}

.checkbox input:checked + .info:after{
    border-color:#3de0f5
}

.checkbox input:checked + .warning:after{
    border-color:#f0AD4E
}

.checkbox input:checked + .danger:after{
    border-color:#f44336
}

.form-control:focus {
    border-color: #f0ad4e !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6) !important;
            box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* This is the default state */
.custom-radio .custom-control-label::before {
    background-color: white;
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #f0AD4E; 
    border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    border-color: #f0AD4E;
    background-color: white;
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
            box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
}

.custom-control-label::before {
    background-color: darkorange;
}

.pagination > li > a{
    background-color: white;
    color: #353a40;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
    color: #33373d;
    background-color: #eee;
    border-color: #ddd;
    border-color: #f0ad4e;
    -webkit-box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
            box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
}

.pagination > .active > a{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
    border-color: #f0ad4e;
    -webkit-box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
            box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
}

.pagination > .active > a:hover{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
    border-color: #f0ad4e;
    -webkit-box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
            box-shadow: inset 0 1px 1px rgba(240, 172, 78, 0.075), 0 0 8px rgba(237, 188, 121, 0.6);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcf9e3;
}

#header-search {
    border-radius: 1em 1em 1em 1em;
    padding-right: 39px;
}

#search-field svg {
    width: 30px;
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 8px;
}

#search-field{
    display: inline-block; 
    width: 100%;
    position: relative
}

.header-margin{
    margin-top:5%;
}

.margin-pagination-scroll-bar{
    margin-top:0%;
}

@media screen and (max-width: 1200px){
    .header-margin{
        margin-top:7.5%
    }
}

@media screen and (max-width: 992px){
    .header-margin{
        margin-top:10%
    }
}

@media screen and (max-width: 768px){
    .header-margin{
        margin-top:12.5%
    }
}

@media screen and (max-width: 576px){
        .header-margin{
        margin-top:15%
    }
    .margin-pagination-scroll-bar{
        margin-top:2%;
    }
}

/*TAB with CSS - for now support a max of 6 */

.tab-wrap {
    -webkit-transition: 0.4s box-shadow ease;
    -webkit-transition: 0.4s -webkit-box-shadow ease;
    transition: 0.4s -webkit-box-shadow ease;
    -o-transition: 0.4s box-shadow ease;
    transition: 0.4s box-shadow ease;
    transition: 0.4s box-shadow ease, 0.4s -webkit-box-shadow ease;
    border-radius: 3px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab {
    display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 99;
    -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
        transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
        transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
        transform: translateY(0px);
    text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
        transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
        transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) {
    opacity: 1;
    -webkit-transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    transition: 0.5s opacity ease-in, 0.8s -webkit-transform ease;
    -o-transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease, 0.8s -webkit-transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
        transform: translateY(0px);
    text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tab:checked + label {
    background-color: #FEC107;
    -webkit-box-shadow: 0 -1px 0 #fff inset;
            box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
}
.tab:checked + label:hover {
    -webkit-box-shadow: 0 -1px 0 #fff inset;
            box-shadow: 0 -1px 0 #fff inset;
    background-color: #FEC107;
}
.tab + label {
    -webkit-box-shadow: 0 -1px 0 #eee inset;
            box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    text-align: center;
    background-color: #FFF5D9;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    -webkit-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    -webkit-transition: 0.3s background-color ease, 0.3s -webkit-box-shadow ease;
    transition: 0.3s background-color ease, 0.3s -webkit-box-shadow ease;
    -o-transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    transition: 0.3s background-color ease, 0.3s box-shadow ease, 0.3s -webkit-box-shadow ease;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    margin-bottom: 0px;
}
.tab + label:hover {
    background-color: #FFECB5;
    -webkit-box-shadow: 0 1px 0 #f4f4f4 inset;
            box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
    padding: 10px 25px;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
        transform: translateY(-3px);
    border-radius: 6px;
}

.custom-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.custom-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.custom-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


@media screen and (max-width: 991px){
    .custom-left{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .custom-right{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

        .custom-block{
        width: 100%; 
        display:block;
    }
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}