<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>uploads.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>C:\Users\joker\Documents\NetBeansProjects\PollWeb\src\main\webapp\uploads</param-value>
    </context-param>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicPolls</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.PublicPolls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRespRequest</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.SendRespRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeMail</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.ChangeMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstSection</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.makerPoll.FirstSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsMaker</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.makerPoll.QuestionsMaker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmSection</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.makerPoll.ConfirmSection</servlet-class>
        <multipart-config>
            <max-file-size>3145728</max-file-size>
            <max-request-size>5242880</max-request-size>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ChangePartecipants</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.ChangePartecipants</servlet-class>
        <multipart-config>
            <max-file-size>3145728</max-file-size>
            <max-request-size>5242880</max-request-size>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>SurveyExample</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.SurveyExample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Survey</servlet-name>
        <servlet-class>com.mycompany.pollweb.controllers.Survey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicPolls</servlet-name>
        <url-pattern>/publicPolls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRespRequest</servlet-name>
        <url-pattern>/sendRespRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeMail</servlet-name>
        <url-pattern>/changeMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstSection</servlet-name>
        <url-pattern>/makerPoll/firstSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsMaker</servlet-name>
        <url-pattern>/makerPoll/questionsMaker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmSection</servlet-name>
        <url-pattern>/makerPoll/confirmSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePartecipants</servlet-name>
        <url-pattern>/changePartecipants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyExample</servlet-name>
        <url-pattern>/surveyExample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Survey</servlet-name>
        <url-pattern>/survey</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/pollwebdb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
